#nav-bar{
    position: absolute;
    bottom: 0;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-left:-15px;
    background-color: white;
  }
  